//
//  rfm-debug.xcconfig
//  RasterFontMaker
//
//  Created by Alexey Schutsky on 2/2/14.
//  Copyright (c) 2014 Alexey Schutsky. All rights reserved.
//

ONLY_ACTIVE_ARCH = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

COPY_PHASE_STRIP = NO

GCC_OPTIMIZATION_LEVEL = 0

GCC_SYMBOLS_PRIVATE_EXTERN = NO

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
